<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  </body>
<script>
/*$.ajax({
  type: 'POST',
  url: 'newuser',
  data: {
    name: "agab29"
  },
  success: function(valid){
    if (valid) {
      console.log("yay");
    } else {
      console.log("boo");
    }
  }
});*/
</script>
</html>